@model SelectShapeFormModel

@{
    ViewBag.Title = $"Select Shape";
}

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h2 heading-tag>@ViewBag.Title</h2>
            <form method="post">
                <div class="text-danger" asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="ShapeId"></label>
                    <div class="input-group">
                        <select asp-for="ShapeId" class="form-control">
                            @foreach (var shapes in Model.Shapes)
                            {
                                <option value="@shapes.ShapeId">@shapes.ShapeName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PutOn"></label>
                    <input asp-for="PutOn" type="number" step="1" class="form-control">
                    <span asp-validation-for="PutOn" class="small text-danger"></span>
                </div>

                <button class="btn btn-primary" type="submit" asp-controller="ShapeHistories" asp-action="Select" asp-route-shapeId="@Model.ShapeId" asp-route-productColorId="@Model.ProductColorId">Save</button>
                <a class="btn btn-info" asp-action="All">Back to List</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}