@model ListAllWarehouseViewModel

@{
    ViewBag.Title = "All Warehouses";
}

<div class="container">
    <div class="row">
        <h2 class="headingMargin text-center offset-md-3 col-md-6 col-sm-12">@ViewBag.Title</h2>
        <table class="table table-hover offset-md-1 col-md-10">
            <thead>
                <tr>
                    <th class="col-md-1 text-center" scope="col">#</th>
                    <th class="col-md-2 text-center" scope="col">Warehouse name</th>
                    <th class="col-md-2 text-center" scope="col">Products count</th>
                    <th class="col-md-2 text-center" scope="col">Shapes count</th>
                    <th class="col-md-3 text-center" scope="col"><i class="fas fa-edit"></i> Edit/ <i class="fas fa-times"></i> Delete</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var lineCounter = 1;

                    foreach (var warehouse in Model.AllWarehouses)
                    {
                        <tr>
                            <th scope="row" class="text-center">@lineCounter</th>
                            <td class="text-center">@warehouse.Name</td>
                            <td class="text-center">@warehouse.TotalProductsCount</td>
                            <td class="text-center">@warehouse.TotalShapesCount</td>
                            <td class="text-center">
                                <div class="input-group-append">
                                    <a class="btn btn-info offset-3 col-3 text-center" title="Edit" asp-controller="Warehouses" asp-action="Edit" asp-route-id="@warehouse.Id"><i class="bi bi-pencil-square"></i></a>
                                    <a class="btn btn-danger offset-3 col-3 text-center" title="Delete" asp-controller="Warehouses" asp-action="Delete" asp-route-id="@warehouse.Id"><i class="bi bi-x-lg"></i></a>
                                </div>
                            </td>
                        </tr>

                        lineCounter++;
                    }
                }
            </tbody>
        </table>
        @if (!Model.HasNextPage)
        {
            <a class="btn btn-success text-center offset-md-3 col-md-6 col-sm-12" title="Add new" asp-controller="Warehouses" asp-action="Add"><i class="bi bi-plus-circle"></i> Add new</a>
        }
    </div>
</div>
<hr />
<partial name="_PagingPartial" model="this.Model" />


