@model AddProductToWarehouseFormModel

@{
    ViewBag.Title = $"Add product to warehouse";
}

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h2 class="headingMargin text-center">@ViewBag.Title</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="ProductId"></label>
                    <div class="input-group">
                        <select asp-for="ProductId" class="form-control">
                            @foreach (var product in Model.Products)
                            {
                                <option value="@product.Id">@product.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="WarehouseId"></label>
                    <div class="input-group">
                        <select asp-for="WarehouseId" class="form-control">
                            @foreach (var warehouse in Model.Warehouses)
                            {
                                <option value="@warehouse.Id">@warehouse.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Count"></label>
                    <input asp-for="Count" type="number" step="1" class="form-control">
                    <span asp-validation-for="Count" class="small text-danger"></span>
                </div>

                <button class="btn btn-primary" type="submit" asp-controller="WarehouseProducts" asp-action="Add" asp-route-warehouseId="@Model.WarehouseId">Save</button>
                <a class="btn btn-info" asp-action="All">Back to List</a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}