@model List<ProductListingServiceModel>

@{
    ViewBag.Title = "Welcome!";
}

<h2 heading-tag>@ViewBag.Title</h2>
<h4 class="headingMargin container">Latest products:</h4>

@if (!Model.Any())
{
    <h1 class="display-4">Welcome to the best place for concrete products!</h1>
    <p class="lead">There are no products currently available!</p>
}

<div class="container text-center my-3">
    <div class="row mx-auto my-auto">
        <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner mb-5" role="listbox">
                @for (int i = 0; i < Model.Count; i += 3)
                {
                    <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                        <div class="row">
                            @for (int j = i; j < i + 3; j++)
                            {
                                @if (j >= Model.Count)
                                {
                                    break;
                                }

                                var product = Model[j];
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <img class="card-img-top" height="300" src="@product.ImageUrl" alt="@product.Name">
                                            <h4 class="card-title mt-3">@product.Name - @product.Dimensions</h4>
                                            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary mt-3" style="width: 10rem;">Details</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev w-auto" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-success text-center offset-md-10 col-md-2" asp-controller="Chat" asp-action="Chat"><i class="bi bi-chat-dots"></i> Chat</a>
</div>

