@model IEnumerable<ProductListingViewModel>

@{
    ViewData["Title"] = "All Products";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="card mb-5 ml-3" style="width: 18rem;">
            <img class="card-img-top mb-6" src="@product.ImageUrl" alt="@product.Name">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <h6>Specifiations:</h6>
                <div class="text-center">Quantity In Pallet In Pieces @product.QuantityInPalletInPieces</div>
                <div class="text-center">@product.QuantityInPalletInUnitOfMeasurement @product.UnitOfMeasurement.ToString()</div>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>