@model ListAllProductsViewModel

@{
    ViewData["Title"] = "All Products";
}

<h2 class="headingMargin text-center">@ViewData["Title"]</h2>


<form method="get">
    <div class="input-group offset-md-8 col-md-4 mb-3">
        <input asp-for="SearchTerm" type="text" class="form-control form-control-lg" placeholder="Search Here">
        <button type="submit" class="btn input-group-text btn-success"><i class="bi bi-search me-2"></i> Search</button>
    </div>
</form>


<div class="row">
    @foreach (var product in Model.AllProducts)
    {
        <div class="card mb-3 ml-2" style="width: 17rem;">
            <img class="card-img-top" height="200" src="@product.ImageUrl" alt="@product.Name">
            <div class="card-body">
                <br />
                <h4 class="card-title text-center mb-4">@product.Name</h4>
                <hr />
                <h6 class="text-center">Specifiations:</h6>
                <div class="text-center mb-4">Size - @product.Dimensions</div>
                <div class="text-center mb-4">Category - @product.CategoryName</div>
                <div class="text-center mb-4">Available in different colors</div>
                <br />
                @if (this.User.IsAdmin())
                {
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-info" style="width: 7rem;">Details</a>
                    <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger" style="width: 7rem;">Delete</a>
                }
                else
                {
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-info" style="width: 14rem;">Details</a>
                }
            </div>
        </div>
    }
</div>
<hr />
<partial name="_PagingPartial" model="@this.Model" />



