@model ProductDetailsServiceModel

@{
    ViewBag.Title = Model.Name;
}

<h2 class="headingMargin text-center">@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <img src=@Model.ImageUrl class="img-fluid" height="400" width="400" alt="@ViewBag.Title">
        </div>
        <div class="col-md-6 mb-4">
            <p class="lead font-weight-bold">Specifiations</p>
            <hr />

            <div class="mb-4">
                <span class="font-weight-bold">Category</span> - @Model.CategoryName
            </div>
            <div class="mb-4">
                <span class="font-weight-bold">Size</span> - @Model.Dimensions
            </div>
            <div class="mb-4">
                <span class="font-weight-bold">Quantity in pallet (in @Model.UnitOfMeasurement)</span> - @Model.QuantityInPalletInUnitOfMeasurement @Model.UnitOfMeasurement
            </div>
            <div class="mb-4">
                <span class="font-weight-bold">Quantity in pallet (in pieces)</span> - @Model.QuantityInPalletInPieces pieces
            </div>
            <div class="mb-4">
                <span class="font-weight-bold">Count in @Model.UnitOfMeasurement</span> - @Model.CountInUnitOfMeasurement pieces
            </div>
            <div class="mb-4">
                <span class="font-weight-bold">Weight</span> - @Model.Weight kg.
            </div>
            <div class="mb-4">
                <span class="font-weight-bold">Availabe colors:</span>
                <ul>
                    @foreach (var color in Model.AvailableColorsName)
                    {
                        <li>@color</li>
                    }
                </ul>
                @if (this.User.IsAdmin())
                {
                    <a class="btn btn-success" asp-controller="ProductColors" asp-action="Add" asp-route-productId="@Model.Id"><i class="bi bi-plus-circle"></i> Add new color to product</a>
                }
            </div>
        </div>
    </div>
</div>

